<h1>USER NR: <%=@user.id%></h1>
<% flash.each do |message_type, message| %>
  <div class="<%= message_type %>"><%= message %></div>
<% end %>
<br />
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
    <tr>
      <td><%=@user.first_name%></td>
      <td><%=@user.last_name%></td>
      <td><%=@user.email%></td>
    </tr>
</table>
