<h1>Gamelab HOMEPAGE!</h1>
<% if logged_in? %>
  <p>If you see this, you are signed in users, please see list of all users <%= link_to "HERE", users_path %>.</p>
  <p><%= link_to "PROFILE", current_user %></p>
  <p><%= link_to "LOG OUT", logout_path, method: :delete %></p>
<% else %>
  <p>First <%= link_to "SIGN UP", new_user_path %> or <%= link_to "SIGN IN", login_path %>!</p>
<% end %>
